# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/

# env files
.env
.env.local
.env.*.local

# database
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-wal
prisma/dev.db-shm

# debug
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vercel

# IDE
.vscode/
.idea/

.vercel
